.products-heading {
  font-weight: 900;
  font-size: 3rem;
  text-align: center;
  margin-top: 3rem;
  text-decoration: underline;
}

.products-container {
  margin-top: 1.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}
