/* Navbar.css */

/* Main Navbar */
.main-navbar {
  border-bottom: 1px solid #ccc;
}

/* Top Navbar */
.main-navbar .top-navbar {
  padding-top: 4px;
  padding-bottom: 5px;
}

/* Brand Name */
.main-navbar .top-navbar .brand-name {
  color: #fff;
}

/* Nav Links */
.main-navbar .top-navbar .nav-link {
  color: #fff;
  font-size: 16px;
  font-weight: 500;
}

/* Dropdown Item */
.main-navbar .top-navbar .dropdown-item {
  padding: 8px 16px;
  border-bottom: 1px solid #ccc;
  font-size: 14px;
}

/* Cart and Profile Icons */
.main-navbar .top-navbar .dropdown-item {
  width: 20px;
  text-align: center;
  color: #2874f0;
  font-size: 14px;
}

/* Navbar Background */
.main-navbar .navbar {
  padding: 0px;
  background-color: #ddd;
}

/* Navbar Nav Items */
.main-navbar .navbar .nav-item .nav-link {
  padding: 8px 20px;
  color: #000;
  font-size: 15px;
}

/* Navbar Title */
.nav-title {
  font-weight: 600;
  font-size: 1.6rem;
  margin-top: 7px;
}

/* Cart Icon */
.cart-icon {
  padding-bottom: 5px;
  position: relative;
  margin-right: 1rem;
  font-size: 2.3rem;
  color: whitesmoke;
}

/* Profile Icon */
.profile-icon {
  font-size: 2.3rem;
  color: whitesmoke;
}

.ais-SearchBox {
  width: 60%;
  padding-top: 0.5rem;
}

.ais-SearchBox-form {
  border-radius: 10px 0px 0px 10px !important;
}

.ais-SearchBox-form::before {
  display: none;
}

.ais-SearchBox-input {
  margin: 0;
  border-radius: 10px 0px 0px 10px !important;
  padding: 5px 20px !important;
  font-size: 1.1rem !important;
}

/* Responsive Adjustments */
@media only screen and (max-width: 800px) {
  .main-navbar .top-navbar .nav-link {
    font-size: 12px;
    padding: 8px 10px;
  }
  .ais-SearchBox {
    width: 80%;
  }
  .profile-icon {
    margin-right: -0.7rem;
  }
}
