.carousel {
  height: 100%;
  width: 37.5rem;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px,
    rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px,
    rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}

.carousel-main-div {
  margin-top: 3rem;
  display: flex;
  justify-content: space-between;
}

.carousel-tag {
  height: 25rem;
  width: 45%;
  margin-right: 5rem;
  font-size: 2.3rem;
  text-align: center;
  font-weight: bold;
}

/* Media Queries */
@media (min-width: 535px) and (max-width: 1200px) {
  .carousel-tag {
    display: none;
  }
  .carousel-main-div {
    justify-content: center;
    align-items: center;
  }
  .carousel {
    height: 100%;
    width: 100%;
  }
}
@media (min-width: 200px) and (max-width: 534px) {
  .carousel-tag {
    display: block;
  }
  .carousel-main-div {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .carousel {
    height: 100%;
    width: 90%;
  }
  .carousel-tag {
    height: 20rem;
    width: 103%;
    font-size: 1.7rem;
    font-weight: 600;
    text-align: center;
    margin: 0;
    margin-top: 2rem;
  }
}
